<div class="row justify-content-evenly row-gap-5 w-100">
    <div class="container-card col-3">
        <a href="#" class="mycard-link text-decoration-none">
            <div class="mycard-body">
                <div class="mycard-header">
                    <span class="material-symbols-rounded">
                        home
                    </span>
                    <h2>Home</h2>
                </div>
                <div class="mycar-content">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, cumque laborum. Consequatur, molestias unde voluptas velit, </p>
                </div>
            </div>
        </a>
    </div>
    <div class="container-card">
        <a href="#" class="mycard-link text-decoration-none">
            <div class="mycard-body">
                <div class="mycard-header">
                    <span class="material-symbols-rounded">
                        dashboard
                    </span>
                    <h2>Dashboard</h2>
                </div>
                <div class="mycar-content">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, cumque laborum. Consequatur, molestias unde voluptas velit, </p>
                </div>
            </div>
        </a>
    </div>
    <div class="container-card">
        <a href="pages/page.html" class="mycard-link text-decoration-none">
            <div class="mycard-body">
                <div class="mycard-header">
                    <span class="material-symbols-rounded">
                        edit
                    </span>
                    <h2>Pages</h2>
                </div>
                <div class="mycar-content">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, cumque laborum. Consequatur, molestias unde voluptas velit, </p>
                </div>
            </div>
        </a>
    </div>
    <div class="container-card">
        <a href="#" class="mycard-link text-decoration-none">
            <div class="mycard-body">
                <div class="mycard-header">
                    <span class="material-symbols-rounded bgclr-ter">
                        calendar_today
                    </span>
                    <h2>Calendar</h2>
                </div>
                <div class="mycar-content">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, cumque laborum. Consequatur, molestias unde voluptas velit, </p>
                </div>
            </div>
        </a>
    </div>
    <div class="container-card">
        <a href="#" class="mycard-link text-decoration-none">
            <div class="mycard-body">
                <div class="mycard-header">
                    <span class="material-symbols-rounded">
                        edit
                    </span>
                    <h2>Pages</h2>
                </div>
                <div class="mycar-content">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, cumque laborum. Consequatur, molestias unde voluptas velit, </p>
                </div>
            </div>
        </a>
    </div>
    <div class="container-card">
        <a href="#" class="mycard-link text-decoration-none">
            <div class="mycard-body">
                <div class="mycard-header">
                    <span class="material-symbols-rounded">
                        edit
                    </span>
                    <h2>Pages</h2>
                </div>
                <div class="mycar-content">
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, cumque laborum. Consequatur, molestias unde voluptas velit, </p>
                </div>
            </div>
        </a>
    </div>
</div>


@section Scripts {
    
    @* <script> *@
    @* const loader = document.querySelector('.loading-container'); *@
    @*     const mainContent = document.querySelector('.main-content'); *@
    @*     const body = document.body; *@
    @*     const sessionKey = 'introShown'; *@

    @*     const hasSeenIntro = sessionStorage.getItem(sessionKey); *@

    @*     function showLoader() { *@
    @*         body.classList.add('loading'); *@
    @*         loader.classList.add('show'); *@
    @*         mainContent.setAttribute('aria-hidden', 'true'); *@
    @*         // mainContent.classList.add('d-none'); *@
    @*     } *@

    @*     function removeLoader() { *@
    @*         loader.classList.remove('show'); *@
    @*         setTimeout(() => { *@
    @*             // mainContent.classList.remove('d-none'); *@
    @*             body.classList.remove('loading'); *@
    @*             mainContent.removeAttribute('aria-hidden'); *@
    @*             loader.remove(); *@
    @*         }, 1000); *@
    @*     } *@

    @*     if (!hasSeenIntro) { *@
    @*         sessionStorage.setItem(sessionKey, 'true'); *@
    @*         showLoader(); *@

    @*         setTimeout(removeLoader, 2000); *@
    @*     } else { *@
    @*         // showLoader(); *@
    @*         loader.remove() *@
    @*     } *@
    @* </script> *@
}