@model IEnumerable<Product>
@* @Html.AntiForgeryToken() *@
@section Styles {
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.0/css/dataTables.dataTables.min.css" />
}

<div class="container">
    <div class="row row pt-4 pb-5">
        <div class="col-6">
            <h2 class="text-primary">
                Product List
            </h2>
            @* search bar *@
            @* <input id="searchInput" class="form-control form-control-lg" type="text" placeholder="search"> *@

        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                Create New Product
            </a>
        </div>
    </div>

    <div class="table-container">
        <table id="tblData" class="">
            <thead>
                @* <tr> *@
                @*     <th>Title</th> *@
                @*     <th>ISBN</th> *@
                @*     <th>Price</th> *@
                @*     <th>Author</th> *@
                @*     <th>Category</th> *@
                @*     <th></th> *@
                @* </tr> *@
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>

</div>

@section Scripts {
    <partial name="_PartialReqScript" />
    <script src="~/admin/scripts/SearchBarIcon.js"></script>
    

    <script>
        
        $(document).ready(() => {
            initializeDataTable('product', [
                {
                    title: 'Title',
                    data: 'title',
                    width: '20em'
                },
                {
                    title: 'ISBN',
                    data: 'isbn',
                    width: '15em'
                },
                {
                    title: 'Price',
                    data: 'price',
                    width: '15em'
                },
                {
                    title: 'Author',
                    data: 'author',
                    width: '15em'
                },
                {
                    title: 'Category',
                    data: 'category.name',
                    width: '15em'
                }
            ]);
            addSearchBarIcon();
        });
    
    
    
    </script>


}