@model IEnumerable<Product>
@* @Html.AntiForgeryToken() *@
@section Styles {
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.0/css/dataTables.dataTables.min.css" />
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Product List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                Create New Product
            </a>
        </div>
        <table id="tblData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

    </div>
</div>

@section Scripts {
        <script src="//cdn.datatables.net/2.3.0/js/dataTables.min.js" asp-append-version="true"></script>
    <script src="~/admin/scripts/req.js" asp-append-version="true"></script>

    <script src="~/admin/scripts/product.js" asp-append-version="true"></script>
    <script>
    </script>

}