@model List<Category>
@section Styles {
    <link rel="stylesheet" href="//cdn.datatables.net/2.3.0/css/dataTables.dataTables.min.css" />
}

<div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center justify-items-center">
                    <h2 class="txt-lin-clr txt-lin-clr-1 py-2">Category List</h2>
                </div>
            </div>
        
            <div class="row pb-3">

                <div class="btn-container add-btn justify-content-end">
                    <a asp-controller="Test" asp-action="Create" class="btn btn-mine1 bg-primary-clr">
                        <span class="svv-2 material-symbols-rounded">
                            add
                        </span>
                    </a>
                </div>
            </div>

            <table class="table" id="tblData">
                <thead>
                </thead>
                <tbody>
                   
                </tbody>
            </table>
</div>

@section Scripts {
    <partial name="_PartialReqScript" />
    <script>
        $(document).ready(function () {
            initializeDataTableNoOption('Test', [
                {
                    title: 'Name',
                    data: 'name',
                },
                {
                    title: 'Display Order',
                    data: 'displayOrder',
                }
            ]);
        });
    </script>

}