<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" rel="stylesheet"/>

<link href="../tr/assets/style.css" rel="stylesheet"/>

<link href="../tr/assets/hakkimizda.css" rel="stylesheet"/>

<link href="../tr/assets/arama-cubugu.css" rel="stylesheet"/>

<link href="../tr/assets/header.css" rel="stylesheet"/>

<link href="../tr/assets/kvkk.css" rel="stylesheet"/>

<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" referrerpolicy="no-referrer" rel="stylesheet"/>

<link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet"/>

<link href="./images/bfm-opak-logo.png" rel="icon" type="image"/>

<div class="banner">
</div>

<div class="container main-container">
 <div class="row">
  <!-- Sidebar -->
  <div class="col-md-3 sidebar-container">
   <div class="sidebar">
    <div class="sidebar-sticky">
     <div class="sidebar-header p-3 mb-3 text-center">
      <h3 class="" data-translate="hizmetler.sidebar.mainTitle">
       BFM
      </h3>
      <p class="text-muted small mb-0" data-translate="hizmetler.sidebar.subTitle">
       Bursa Fair Center
      </p>
     </div>
     <ul class="nav flex-column">
      <!-- Hizmetler -->
      <li class="nav-item dropdown">
       <a aria-expanded="true" class="nav-link dropdown-toggle" data-bs-target="#idtmSubmenu" data-bs-toggle="collapse" href="#">
        <span data-translate="hizmetler.sidebar.servicesTitle">
         Services
        </span>
       </a>
       <div class="collapse" id="idtmSubmenu">
        <ul class="nav flex-column submenu">
         <li class="nav-item">
          <a class="nav-link" href="services.html">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.prayerRoom">
            Mosque
           </span>
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="florist.html">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.florist">
            Florist
           </span>
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="atms.html">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.atms">
            ATM's
           </span>
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="infirmary.html">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.infirmary">
            Infirmary
           </span>
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="lost-item.html">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.lostAndFound">
            Lost Item
           </span>
          </a>
         </li>
        </ul>
       </div>
      </li>
      <!-- Restoran ve Kafeler -->
      <li class="nav-item dropdown">
       <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-target="#hakkimizdaSubmenu" data-bs-toggle="collapse" href="#">
        <span data-translate="hizmetler.sidebar.restaurantsCafesTitle">
         Restaurants And Cafes
        </span>
       </a>
       <div class="collapse" id="hakkimizdaSubmenu">
        <ul class="nav flex-column submenu">
         <li class="nav-item">
          <a class="nav-link" href="restaurant-and-cafes.html">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.restaurantsCafesList">
            Restaurants And Cafes List
           </span>
          </a>
         </li>
        </ul>
       </div>
      </li>
      <!-- Ulaşım -->
      <li class="nav-item dropdown">
       <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-target="#usalımSubmenu" data-bs-toggle="collapse" href="#">
        <span data-translate="hizmetler.sidebar.transportTitle">
         Transport
        </span>
       </a>
       <div class="collapse" id="usalımSubmenu">
        <ul class="nav flex-column submenu">
         <li class="nav-item">
          <a class="nav-link" href="transportation.html">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.transportToBFM">
            Reaching BFM
           </span>
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="parking.html">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.parking">
            Parking
           </span>
          </a>
         </li>
        </ul>
       </div>
      </li>
      <!-- Konaklama -->
      <li class="nav-item dropdown">
       <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-target="#ifmSubmenu" data-bs-toggle="collapse" href="#">
        <span data-translate="hizmetler.sidebar.accommodationTitle">
         Accomodation
        </span>
       </a>
       <div class="collapse" id="ifmSubmenu">
        <ul class="nav flex-column submenu">
         <li class="nav-item">
          <a class="nav-link" href="accommodation.html">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.nearbyHotels">
            Nearby Hotels
           </span>
          </a>
         </li>
        </ul>
       </div>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- Main content -->
  <main class="col-md-9 content-container">
   <div class="content-header">
    <div class="breadcrumb">
     <a href="home.html">
      Home Page
     </a>
     /
     <a href="accommodation.html">
      Accommodation
     </a>
     /
     <a href="accommodation.html">
      Nerby Hotels
     </a>
    </div>
   </div>
   <div class="content-body">
    <h1 class="page-title-2 ms-5">
     Nearby Hotels
    </h1>
    <div class="content-text ms-5">
     <h3 class="fw-light fs-5">
      Hilton Bursa Convention Center &amp; Spa
     </h3>
     <p class="mb-5 fs-6 fw-normal">
      Soğanlı, İstanbul Cd No:347, 16210 Osmangazi̇/Bursa
      <a class="text-danger" href="https://www.hilton.com/en/hotels/btzhihi-hilton-bursa-convention-center-and-spa/?SEO_id=GMB-EMEA-HI-BTZHIHI" target="_blank">
       <br/>
       Click for hotel website
      </a>
     </p>
     <h3 class="fw-light fs-5">
      ibis Hotel
     </h3>
     <p class="mb-5 fs-6 fw-normal">
      Altınova, Fuar Cd. No:31, 16250 Osmangazi̇/Bursa
      <a class="text-danger" href="https://all.accor.com/hotel/7260/index.tr.shtml?utm_campaign=seo+maps&amp;utm_medium=seo+maps&amp;utm_source=google+Maps" target="_blank">
       <br/>
       Click for hotel website
      </a>
     </p>
    </div>
   </div>
  </main>
 </div>
</div>

<script>
 const buttons = document.querySelectorAll('#pagination .page-button');

    buttons.forEach(button => {
      button.addEventListener('click', () => {
        buttons.forEach(btn => {
          btn.classList.remove('btn-danger');
          btn.classList.add('btn-outline-danger');
        });

        button.classList.remove('btn-outline-danger');
        button.classList.add('btn-danger');
      });
    });
</script>

<script crossorigin="anonymous" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js">
</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js">
</script>

<script src="../tr/hakkimizda.js">
</script>

<script src="../tr/main.js">
</script>

<script src="../tr/kvkk.js">
</script>
