@{
  ViewData["Title"] = "BFM Hakkında";
  ViewData["Description"] = "BFM Hakkında - Bursa Fuar Merkezi Hakkında";
  ViewData["Keywords"] = "BFM, Hakkında, Fuar Merkezi";
}

@section styles {
  <link href="~/css/hakkimizda.css" rel="stylesheet" />
}

<div class="banner">
</div>

<div class="container main-container">
 <div class="row">
  <!-- Sidebar -->
  <div class="col-md-3 sidebar-container">
   <div class="sidebar">
    <div class="sidebar-sticky">
     <div class="sidebar-header p-3 mb-3 text-center">
      <h3 class="" data-translate="hizmetler.sidebar.mainTitle">
       BFM
      </h3>
      <p class="text-muted small mb-0" data-translate="hizmetler.sidebar.subTitle">
       Bursa Fair Center
      </p>
     </div>
     <ul class="nav flex-column">
      <!-- Hizmetler -->
      <li class="nav-item dropdown">
       <a aria-expanded="true" class="nav-link dropdown-toggle" data-bs-target="#idtmSubmenu" data-bs-toggle="collapse" href="#">
        <span data-translate="hizmetler.sidebar.servicesTitle">
         Services
        </span>
       </a>
       <div class="collapse" id="idtmSubmenu">
        <ul class="nav flex-column submenu">
         <li class="nav-item">
          <a class="nav-link" href="/tr/services">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.prayerRoom">
            Mosque
           </span>
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="/tr/florist">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.florist">
            Florist
           </span>
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="/tr/atms">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.atms">
            ATM's
           </span>
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="/tr/infirmary">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.infirmary">
            Infirmary
           </span>
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="/tr/lost-item">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.lostAndFound">
            Lost Item
           </span>
          </a>
         </li>
        </ul>
       </div>
      </li>
      <!-- Restoran ve Kafeler -->
      <li class="nav-item dropdown">
       <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-target="#hakkimizdaSubmenu" data-bs-toggle="collapse" href="#">
        <span data-translate="hizmetler.sidebar.restaurantsCafesTitle">
         Restaurants And Cafes
        </span>
       </a>
       <div class="collapse" id="hakkimizdaSubmenu">
        <ul class="nav flex-column submenu">
         <li class="nav-item">
          <a class="nav-link" href="/tr/restaurant-and-cafes">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.restaurantsCafesList">
            Restaurants And Cafes List
           </span>
          </a>
         </li>
        </ul>
       </div>
      </li>
      <!-- Ulaşım -->
      <li class="nav-item dropdown">
       <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-target="#usalımSubmenu" data-bs-toggle="collapse" href="#">
        <span data-translate="hizmetler.sidebar.transportTitle">
         Transport
        </span>
       </a>
       <div class="collapse" id="usalımSubmenu">
        <ul class="nav flex-column submenu">
         <li class="nav-item">
          <a class="nav-link" href="/tr/transportation">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.transportToBFM">
            Reaching BFM
           </span>
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link active" href="/tr/parking">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.parking">
            Parking
           </span>
          </a>
         </li>
        </ul>
       </div>
      </li>
      <!-- Konaklama -->
      <li class="nav-item dropdown">
       <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-target="#ifmSubmenu" data-bs-toggle="collapse" href="#">
        <span data-translate="hizmetler.sidebar.accommodationTitle">
         Accomodation
        </span>
       </a>
       <div class="collapse" id="ifmSubmenu">
        <ul class="nav flex-column submenu">
         <li class="nav-item">
          <a class="nav-link" href="/tr/accommodation">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="hizmetler.sidebar.nearbyHotels">
            Nearby Hotels
           </span>
          </a>
         </li>
        </ul>
       </div>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- Main content -->
  <main class="col-md-9 content-container">
   <div class="content-header">
    <div class="breadcrumb">
     <a href="/tr/home">
      Home Page
     </a>
     /
     <a href="/tr/services">
      Services
     </a>
     /
     <a href="/tr/atms">
      ATM's
     </a>
    </div>
   </div>
   <div class="content-body ms-5">
    <h1 class="page-title-2">
     ATM's
    </h1>
    <div class="content-text">
     <h3 class="fw-light fs-3">
      Vakıfbank:
     </h3>
     <p class="mb-5 fs-6 fw-normal">
      
     </p>
     <h3 class="fw-light fs-3">
      İş Bankası:
     </h3>
     <p class="mb-5 fs-6 fw-normal">
      
     </p>
     <h3 class="fw-light fs-3">
      Garanti Bankası:
     </h3>
     <p class="mb-5 fs-6 fw-normal">
      
     </p>
    </div>
   </div>
  </main>
 </div>
</div>

@section scripts {
  <script src="~/js/hakkimizda.js"></script>

  <script>
    const buttons = document.querySelectorAll('#pagination .page-button');

    buttons.forEach(button => {
      button.addEventListener('click', () => {
        buttons.forEach(btn => {
          btn.classList.remove('btn-danger');
          btn.classList.add('btn-outline-danger');
        });

        button.classList.remove('btn-outline-danger');
        button.classList.add('btn-danger');
      });
    });
  </script>
}
