<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" rel="stylesheet"/>

<link href="../tr/assets/style.css" rel="stylesheet"/>

<link href="../tr/assets/hakkimizda.css" rel="stylesheet"/>

<link href="../tr/assets/arama-cubugu.css" rel="stylesheet"/>

<link href="../tr/assets/header.css" rel="stylesheet"/>

<link href="../tr/assets/kvkk.css" rel="stylesheet"/>

<link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" referrerpolicy="no-referrer" rel="stylesheet"/>

<link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet"/>

<link href="./images/bfm-opak-logo.png" rel="icon" type="image"/>

<div class="banner">
</div>

<div class="container main-container">
 <div class="row">
  <!-- Sidebar -->
  <div class="col-md-3 sidebar-container">
   <div class="sidebar">
    <div class="sidebar-sticky">
     <div class="sidebar-header p-3 mb-3 text-center">
      <h3 class="" data-translate="organizator.sidebar.mainTitle">
       BFM
      </h3>
      <p class="text-muted small mb-0" data-translate="organizator.sidebar.subTitle">
       Bursa Fair Center
      </p>
     </div>
     <ul class="nav flex-column">
      <!-- Organizatör -->
      <li class="nav-item dropdown">
       <a aria-expanded="true" class="nav-link dropdown-toggle" data-bs-target="#hakkimizdaSubmenu" data-bs-toggle="collapse" href="#">
        <span class="menu-icon">
         <i class="fas fa-info-circle">
         </i>
        </span>
        <span data-translate="organizator.sidebar.organizerTitle">
         Organizer
        </span>
       </a>
       <div class="collapse show" id="hakkimizdaSubmenu">
        <ul class="nav flex-column submenu">
         <li class="nav-item">
          <a class="nav-link" href="organizer.html">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="organizator.sidebar.eBrochures">
            E-Brochures
           </span>
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link active" href="other-services.html">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="organizator.sidebar.otherServices">
            Other Services
           </span>
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="plans.html">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="organizator.sidebar.plans">
            Plans
           </span>
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="meeting-rooms.html">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="organizator.sidebar.meetingRooms">
            Meeting Rooms
           </span>
          </a>
         </li>
         <li class="nav-item">
          <a class="nav-link" href="extra-services.html">
           <i class="fas fa-angle-right me-2">
           </i>
           <span data-translate="organizator.sidebar.extraServices">
            Extra Services
           </span>
          </a>
         </li>
        </ul>
       </div>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- Main content -->
  <main class="col-md-9 content-container">
   <div class="content-header">
    <div class="breadcrumb">
     <a href="home.html">
      Home
     </a>
     /
     <a href="organizer.html">
      Organizer
     </a>
     <a href="other-services.html">
      Other Services
     </a>
    </div>
   </div>
   <div class="content-body ms-5">
    <div class="fs-1 mb-4">
     Other Services
    </div>
    <h3>
     Catering
    </h3>
    <p class="mb-5">
     During the fair, participants and visitors can meet their food and beverage needs at Cemile
            Sultan Korusu, Bulvar Cafe located in the main foyers 2-5. Fair halls 9-10 can meet their food and beverage
            needs at Expo Food located in the main foyer.
    </p>
    <p>
     In addition, if needed, restaurants can benefit from additional services such as coffee break
            organizations, cocktail organizations, staff meals, open buffet catering.
    </p>
    <h3>
     Media Room
    </h3>
    <p class="mb-5">
     Within the BFM (Bursa Fair Center), there are "2" press rooms designed with the necessary
            infrastructure and facilities, considering the needs of the press members. The press rooms are located in
            the 2-5 foyer area, 1 in the 9-10 fair halls. Media members can enter the area by showing their press cards.
    </p>
    <h3>
     Organizer Room
    </h3>
    <p class="mb-5">
     Within BFM (Bursa Fair Center), there are "3" organizer rooms designed considering the needs
            of organizers and having the necessary infrastructure and facilities. Organizer rooms are located in the
            foyer area 2-5, 2 in each of the fair halls 1, 9, 10 and 11.
    </p>
    <h3>
     Ambulance Service
    </h3>
    <p class="mb-5">
     Within the BFM (Bursa Fair Center), there are "2" blue-striped ambulances to intervene in
            emergencies during the fair setup, fair duration and dismantling processes.
            The ambulances serve as 1 for fair halls 1-8 and 1 for fair halls 9-10-11.
    </p>
   </div>
  </main>
 </div>
</div>

<script>
 const buttons = document.querySelectorAll('#pagination .page-button');

    buttons.forEach(button => {
      button.addEventListener('click', () => {
        buttons.forEach(btn => {
          btn.classList.remove('btn-danger');
          btn.classList.add('btn-outline-danger');
        });

        button.classList.remove('btn-outline-danger');
        button.classList.add('btn-danger');
      });
    });
</script>

<script crossorigin="anonymous" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js">
</script>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js">
</script>

<script src="../tr/hakkimizda.js">
</script>

<script src="../tr/main.js">
</script>

<script src="../tr/kvkk.js">
</script>
