  <!-- Header Start -->
  <header class="main-header">
    <div class="container-navbar">
      <a href="index.html" class="logo mt-5">
        <!-- Gerçek logo dosyanızın yolunu buraya ekleyin -->
        <img src="./images/logo-beyaz.png" class="" alt="">
      </a>

      <nav class="main-nav">
        <ul class="nav-menu">
          <li class="nav-item">
            <a href="#" class="nav-link">BFM'yi Keşfedin <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="hakkimizda.html">Hakkımızda</a></li>
              <li><a href="fuar-takvimi.html">BFM Fuar Takvimi</a></li>
              <li><a href="toplanti-salonlari.html">Hazır Ofis Ve Toplantı Salonları</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">BFM'de Fuar Organize Edin <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
          <li><a href="organizator.html">E-Broşürler</a></li>
          <li><a href="diger-hizmetler.html">Ek Ve Diğer Hizmetler</a></li>
          <li><a href="planlar.html">Planlar</a></li>
          <li><a href="toplanti-salonlari.html">Toplantı Salonları</a></li>
        </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">BFM'yi Ziyaret Edin <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="ulasim.html">Ulaşım</a></li>
              <li><a href="konaklama.html">Konaklama</a></li>
              <li><a href="restoran-ve-kafeler.html">Restoran ve Kafeler</a></li>
              <li><a href="hizmetler.html">Hizmetler</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Etkinlikler <i class="fas fa-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#">B2B Toplantıları</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="iletisim.html" class="nav-link">Bize Ulaşın</a>
          </li>
        </ul>
      </nav>

      <div class="header-actions">
        <div class="lang-switch mt-4">
          <div class="header-search">
            <input type="text" class="header-search-input" placeholder="Ara...">
            <button class="header-search-button">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <div class="lang-dropdown">
            <button class="lang-dropdown-btn">
              <span class="selected-lang">TR</span>
              <i class="fas fa-chevron-down"></i>
            </button>
            <div class="lang-dropdown-content">
              <a href="index.html" class="active">TR</a>
              <a href="../en/home.html">EN</a>
            </div>
          </div>
        </div>
        <div class="mobile-actions">
          <button class="search-toggle-button" aria-label="Arama">
            <i class="fas fa-search"></i>
          </button>
          <button class="mobile-menu-toggle nav-toggle-button" data-translate-aria-label="menu.toggleAriaLabel"
            aria-label="Menüyü Aç/Kapat">
            <i class="fas fa-bars"></i>
          </button>
        </div>
      </div>

    </div>
  </header>
  <!-- Header End -->
  <!-- Mobil Arama Çubuğu -->
  <div class="search-overlay">
    <div class="search-container">
      <div class="search-content">
        <input type="text" class="search-input" placeholder="Aramak istediğiniz kelimeyi yazınız...">
        <button class="search-close">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- Tam Ekran Overlay Menü -->
  <div class="fullscreen-menu">
    <div class="menu-header">
      <a href="index.html" class="logo-menu">
        <!-- Menüdeki logo -->
        <img src="./images/logo-beyaz.png" alt="" class="fs-2">
      </a>

      <div class="menu-header-actions-fs">
        <div class="lang-switch">
          <a href="#" class="active" data-lang="tr" data-translate="lang.tr">TR</a>
          <a href="../en/home.html" data-lang="en" data-translate="lang.en">EN</a>
        </div>
        <button class="close-menu-btn" aria-label="Menüyü Kapat">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>

    <div class="menu-content">
      <div class="menu-column">
        <!-- Başlığa tıklanınca menüyü kapatmak için nav-toggle-button ekledik -->
        <h3 class="nav-toggle-button">BFM'yi Keşfedin</h3>
        <ul>
          <li><a href="hakkimizda.html">Hakkımızda</a></li>
          <li><a href="fuar-takvimi.html">BFM Fuar Takvimi</a></li>
          <li><a href="toplanti-salonlari.html">Hazır Ofis Ve Toplantı Salonları</a></li>
        </ul>
      </div>
      <div class="menu-column">
        <h3 class="nav-toggle-button">BFM'de Fuar Organize Edin</h3>
        <ul class="dropdown-menu">
          <li><a href="organizator.html">E-Broşürler</a></li>
          <li><a href="diger-hizmetler.html">Ek Ve Diğer Hizmetler</a></li>
          <li><a href="planlar.html">Planlar</a></li>
          <li><a href="toplanti-salonlari.html">Toplantı Salonları</a></li>
        </ul>
      </div>
      <div class="menu-column">
        <h3 class="nav-toggle-button" data-translate="menu.visitBFM">BFM'yi Ziyaret Edin</h3>
        <ul>
          <li><a href="ulasim.html">Ulaşım</a></li>
          <li><a href="konaklama.html">Konaklama</a></li>
          <li><a href="restoran-ve-kafeler.html">Restoran ve Kafeler</a></li>
          <li><a href="hizmetler.html">Hizmetler</a></li>
        </ul>
      </div>
      <div class="menu-column">
        <h3 class="nav-toggle-button">Etkinlikler</h3>
        <ul>
          <li><a href="#">B2B Toplantıları</a></li>
        </ul>
      </div>
      <div class="menu-column">
        <h3 class="nav-toggle-button">Bize Ulaşın</h3>
        <ul>
          <li><a href="iletisim.html">İletişim Bilgileri</a></li>
        </ul>
      </div>
    </div>

    <div class="menu-footer">
      <!-- <span class="up-menu-f2f"> Powered By F2F Bilişim Reklam ve Danışmanlık Hizmetleri</span> -->
      <span data-translate="menu.followUs">Bizi Takip Edin</span>
      <div class="social-icons-menu">
        <a href="https://www.facebook.com/bursafuarmerkezi" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://x.com/burfuarmerkezi" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.instagram.com/bursafuarmerkezi/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/@@BursaFuarMerkezi" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>