@{
    ViewData["Title"] = "Content Types";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Content Types
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="ContentType" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create New Content Type
            </a>
        </div>
    </div>

    <div class="table-container">
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <!-- DataTable will populate headers -->
            </thead>
            <tbody>
                <!-- DataTable will populate data -->
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <partial name="_PartialReqScript" />

    <script>
        $(document).ready(() => {
            initializeDataTableNoOption('ContentType', [
                {
                    title: 'Turkish Name',
                    data: 'nameTr',
                    width: '40%'
                },
                {
                    title: 'English Name',
                    data: 'nameEn',
                    width: '40%'
                },
            ]);
        });
    </script>
} 