@model ContentType

@{
    ViewData["Title"] = Model.Id == 0 ? "Create Content Type" : "Edit Content Type";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-12">
            <h2 class="text-primary">
                @(Model.Id == 0 ? "Create" : "Update") Content Type
            </h2>
        </div>
    </div>

    <form method="post" asp-action="Upsert">
        <input asp-for="Id" hidden />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="border p-3 mt-2 mb-3 rounded-2">
            <ul class="nav nav-tabs" id="langTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="tr-tab" data-bs-toggle="tab" data-bs-target="#tr" type="button" role="tab" aria-controls="tr" aria-selected="true">Turkish</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="en-tab" data-bs-toggle="tab" data-bs-target="#en" type="button" role="tab" aria-controls="en" aria-selected="false">English</button>
                </li>
            </ul>
            <div class="tab-content pt-3" id="langTabsContent">
                <div class="tab-pane fade show active" id="tr" role="tabpanel" aria-labelledby="tr-tab">
                    <div class="mb-3">
                        <label asp-for="NameTr" class="form-label"></label>
                        <input asp-for="NameTr" class="form-control" />
                        <span asp-validation-for="NameTr" class="text-danger"></span>
                    </div>
                </div>
                <div class="tab-pane fade" id="en" role="tabpanel" aria-labelledby="en-tab">
                    <div class="mb-3">
                        <label asp-for="NameEn" class="form-label"></label>
                        <input asp-for="NameEn" class="form-control" />
                        <span asp-validation-for="NameEn" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-end mt-4">
            <a asp-controller="ContentType" asp-action="Index" class="btn btn-secondary" style="width:150px">
                <i class="bi bi-arrow-left"></i> Back to List
            </a>
            <button type="submit" class="btn btn-primary" style="width:150px">
                <i class="bi bi-save"></i> @(Model.Id == 0 ? "Create" : "Update")
            </button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
} 