@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager



<ul class="navbar-nav">
	@if(SignInManager.IsSignedIn(User))
	{
		<li class="nav-item">
			<a class="nav-link" asp-controller="Account" asp-action="Register">Hello @UserManager.GetUserName(User)</a>
		</li>
		<li class="nav-item">
			<form asp-area="Admin" asp-controller="Account" asp-action="Logout" method="post" style="display: inline;">
				<button type="submit" class="nav-link btn btn-link p-0 border-0" style="color: inherit; text-decoration: none;">Logout</button>
			</form>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link" asp-area="Admin" asp-controller="Account" asp-action="Register">Register</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="Admin" asp-controller="Account" asp-action="Login">Login</a>
		</li>
	}
    
</ul>