@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager


<div class="">
    <img src="~/images/logo-turkuaz.png" alt="logo" class="logo">
</div>


@if(SignInManager.IsSignedIn(User))
{
    <div class="d-flex align-items-center gap-5 pe-5">
        <div class="nav-item ">
            <div class="nav-link">Hello @UserManager.GetUserName(User)</div>
        </div>
        <div class="nav-item">
            <form asp-area="Admin" asp-controller="Account" asp-action="Logout" method="post" style="display: inline;">
                <button type="submit" class="nav-link btn btn-link p-0 border-0" style="color: inherit; text-decoration: none;">Logout</button>
            </form>
        </div>
    </div>
}