@{
    ViewData["Title"] = "BFM Konaklama";
    ViewData["Description"] = "BFM Konaklama - Bursa Fuar Merkezi Konaklama";
    ViewData["Keywords"] = "BFM, Konaklama, Fuar Merkezi";
}

@section styles {
    <link href="~/css/hakkimizda.css" rel="stylesheet" />
    <link href="~/css/iletisim.css" rel="stylesheet" />
}



<div class="banner">
</div>

<div class="container my-5">
    <h1 class="page-title text-center text-md-start" data-translate="iletisim.pageTitle">
        Bursa Fuar Merkezi
    </h1>
    <div class="row">
        <!-- İletişim Bilgileri ve Form -->
        <div class="col-lg-6">
            <!-- İletişim Bilgileri -->
            <div class="contact-info">
                <div class="address mb-3">
                    <p class="mb-2" data-translate="iletisim.address">
                        <i class="fas fa-map-marker-alt me-2">
                        </i>
                        Fuar ve Kongre Merkezi Altınova Mah. Fuar Cad. 25 / 1 16250 Osmangazi, BURSA
                    </p>
                </div>
                <div class="email mb-3">
                    <p class="mb-2" data-translate="iletisim.email">
                        <i class="fas fa-envelope me-2">
                        </i>
                        info@kfa.com.tr
                    </p>
                </div>
            </div>
            <!-- İletişim Formu -->
            <div class="mt-3 mb-3">
                <h1 class="fw-bold fs-5" data-translate="iletisim.formTitle">
                    BFM Fuarcılık ve organizasyonları ile
                    ilgili soru, öneri ve görüşleriniz için lütfen bize yazın.
                </h1>
            </div>
            <div class="contact-form">
                <form id="contactForm">
                    <div class="mb-3">
                        <label data-translate="iletisim.formLabels.name" for="name">
                            Adınız Soyadınız
                        </label>
                        <input class="form-control" id="name" required="" type="text" />
                    </div>
                    <div class="mb-3">
                        <label data-translate="iletisim.formLabels.phone" for="phone">
                            Telefon
                        </label>
                        <div class="phone-input">
                            <div class="country-code">
                                <img alt="TR"
                                    src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Flag_of_Turkey.svg" />
                                +90
                            </div>
                            <input class="form-control" data-translate-placeholder="iletisim.formPlaceholders.phone"
                                id="phone" placeholder="501 234 56 78" required="" type="tel" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label data-translate="iletisim.formLabels.email" for="email">
                            E-Posta Adresiniz
                        </label>
                        <input class="form-control" id="email" required="" type="email" />
                    </div>
                    <div class="mb-3">
                        <label data-translate="iletisim.formLabels.message" for="message">
                            Mesajınız
                        </label>
                        <textarea class="form-control" id="message" required="" rows="5"></textarea>
                    </div>
                    <div class="mb-3 form-check">
                        <input class="form-check-input-if" id="terms-if" readonly="" required="" style="cursor:pointer;"
                            type="checkbox" />
                        <label class="form-check-label-if" data-translate="iletisim.termsText" for="terms-if"
                            style="cursor:pointer;">
                            Web sitesinin şartlar ve koşullar sayfasını okudum ve kabul
                            ediyorum *
                        </label>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <button class="btn btn-submit w-100" type="submit">
                                <i class="fas fa-paper-plane me-2">
                                </i>
                                <span>
                                    GÖNDER
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Google Maps -->
        <div class="col-lg-6">
            <div class="map-container">
                "
                <iframe allowfullscreen="" height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3045.7904939407454!2d29.065481!3d40.2359602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca3ff8cd44c0c3%3A0x9d903d86b99754e8!2sBursa%20Fuar%20Merkezi!5e0!3m2!1str!2str!4v1745241403678!5m2!1str!2str"
                    style="border:0;" width="600">
                </iframe>
                "&gt;
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/hakkimizda.js"></script>

    <script>
        const buttons = document.querySelectorAll('#pagination .page-button');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                buttons.forEach(btn => {
                    btn.classList.remove('btn-danger');
                    btn.classList.add('btn-outline-danger');
                });

                button.classList.remove('btn-outline-danger');
                button.classList.add('btn-danger');
            });
        });
    </script>

}