@{
    ViewData["Title"] = "BFM Konaklama";
    ViewData["Description"] = "BFM Konaklama - Bursa Fuar Merkezi Konaklama";
    ViewData["Keywords"] = "BFM, Konaklama, Fuar Merkezi";
}

@section styles {
    <link href="~/css/hakkimizda.css" rel="stylesheet" />
}

<div class="banner">
</div>

<div class="container main-container">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 sidebar-container">
            <div class="sidebar">
                <div class="sidebar-sticky">
                    <div class="sidebar-header p-3 mb-3 text-center">
                        <h3 class="" data-translate="hizmetler.sidebar.mainTitle">
                            BFM
                        </h3>
                        <p class="text-muted small mb-0" data-translate="hizmetler.sidebar.subTitle">
                            Bursa FuarMerkezi
                        </p>
                    </div>
                    <ul class="nav flex-column">
                        <!-- Hizmetler -->
                        <li class="nav-item dropdown">
                            <a aria-expanded="true" class="nav-link dropdown-toggle" data-bs-target="#idtmSubmenu"
                                data-bs-toggle="collapse" href="#">
                                <span data-translate="hizmetler.sidebar.servicesTitle">
                                    Hizmetler
                                </span>
                            </a>
                            <div class="collapse" id="idtmSubmenu">
                                <ul class="nav flex-column submenu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/tr/hizmetler">
                                            <i class="fas fa-angle-right me-2">
                                            </i>
                                            <span data-translate="hizmetler.sidebar.prayerRoom">
                                                Mescit
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/tr/cicekci">
                                            <i class="fas fa-angle-right me-2">
                                            </i>
                                            <span data-translate="hizmetler.sidebar.florist">
                                                Çiçekçi
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/tr/atm">
                                            <i class="fas fa-angle-right me-2">
                                            </i>
                                            <span data-translate="hizmetler.sidebar.atms">
                                                ATM'ler
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/tr/revir">
                                            <i class="fas fa-angle-right me-2">
                                            </i>
                                            <span data-translate="hizmetler.sidebar.infirmary">
                                                Revir
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/tr/kayip-esya">
                                            <i class="fas fa-angle-right me-2">
                                            </i>
                                            <span data-translate="hizmetler.sidebar.lostAndFound">
                                                Kayıp ve Buluntu
                                                Eşyalar
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Restoran ve Kafeler -->
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle"
                                data-bs-target="#hakkimizdaSubmenu" data-bs-toggle="collapse" href="#">
                                <span data-translate="hizmetler.sidebar.restaurantsCafesTitle">
                                    Restoran ve
                                    Kafeler
                                </span>
                            </a>
                            <div class="collapse" id="hakkimizdaSubmenu">
                                <ul class="nav flex-column submenu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/tr/restoran-ve-kafeler">
                                            <i class="fas fa-angle-right me-2">
                                            </i>
                                            <span data-translate="hizmetler.sidebar.restaurantsCafesList">
                                                Restoran
                                                ve Kafeler Listesi
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Ulaşım -->
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-target="#usalımSubmenu"
                                data-bs-toggle="collapse" href="#">
                                <span data-translate="hizmetler.sidebar.transportTitle">
                                    Ulaşım
                                </span>
                            </a>
                            <div class="collapse" id="usalımSubmenu">
                                <ul class="nav flex-column submenu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="ulasim">
                                            <i class="fas fa-angle-right me-2">
                                            </i>
                                            <span data-translate="hizmetler.sidebar.transportToBFM">
                                                BFM'ye
                                                Ulaşım
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="/tr/otopark">
                                            <i class="fas fa-angle-right me-2">
                                            </i>
                                            <span data-translate="hizmetler.sidebar.parking">
                                                Otopark
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- Konaklama -->
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-target="#ifmSubmenu"
                                data-bs-toggle="collapse" href="#">
                                <span data-translate="hizmetler.sidebar.accommodationTitle">
                                    Konaklama
                                </span>
                            </a>
                            <div class="collapse" id="ifmSubmenu">
                                <ul class="nav flex-column submenu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/tr/konaklama">
                                            <i class="fas fa-angle-right me-2">
                                            </i>
                                            <span data-translate="hizmetler.sidebar.nearbyHotels">
                                                Yakın
                                                Oteller
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Main content -->
        <main class="col-md-9 content-container">
            <div class="content-header">
                <div class="breadcrumb">
                    <a href="/tr/index">
                        Ana Sayfa
                    </a>
                    /
                    <a href="/tr/ulasim">
                        Ulaşım
                    </a>
                    /
                    <a href="/tr/otopark">
                        Otopark
                    </a>
                </div>
            </div>
            <div class="content-body">
                <h1 class="page-title-2">
                    Otopark
                </h1>
                <div class="content-text">
                    <p class="mb-4 fs-6 fw-normal">
                        İstanbul Fuar Merkezinde misafirlerimize hizmet vermekte olan otoparkımız yaklaşık 3000 araç
                        kapasitelidir. 9-10-11 numaralı fuar salonlarımızda bulunan otoparkımız kapalı otopark, ger
                        kalanı açık otopark şeklindedir. Engeli misafirlerimiz için otoparkımızda özel park alanları
                        mevcuttur.
                    </p>
                    <p>
                        Otopark ödeme gişeleri; otopark açık katı üzerindeki otopark binaları içerisinde zemin kat
                        seviyesindedir.
                    </p>
                    <p>
                        Bunun dışında -1 kırmızı kat çevre yolu çıkışında ödeme noktası bulunmaktadır. Ödeme
                        gişelerinde nakit ya da kredi kartı ile ödeme yapılabilir.
                    </p>
                    <p>
                        Ana fuaye girişinde, 7-8 numaralı fuar salonları giriş-çıkış kapılarında, 9-10 numaralı fuar
                        salonları çıkış kapısında Kredi kartı veya nakit ile ödeme yapılabilen otomatik ödeme
                        noktaları da bulunmaktadır.
                    </p>
                    <p>
                        Kordiplomatik ve resmi araçlar gerekli belgelerini (resmi araca ait ruhsat ile kurum kimlik
                        kartı vb.) Pazarlama birimimize bildirmeleri durumunda otoparkı ücretsiz
                        kullanabilmektedirler.
                    </p>
                    <p>
                        Otopark girişi yapıldıktan sonra 1 saat içerisinde abonmanlık işlemlerinin tamamlanmış
                        olması gerekmektedir.
                    </p>
                    <p>
                        Otopark ile ilgili sorularınız için 0 111 111 11 11 numaralı telefondan otopark ofis
                        personeli ile irtibata geçebilirsiniz.
                    </p>
                    <p class="fw-bold">
                        Otopark Kullanımı Hakkında Önemli Hatırlatma
                    </p>
                    <p>
                    </p>
                    <ul class="ms-3" style="list-style-type: disc;">
                        <li>
                            İstanbul Fuar Merkezi alanı içerisindeki kaldırım kenarlarına park etmek yasaktır,
                            lütfen otoparkı kullanınız. Yasak yere parkeden araç sahiplerinin araçları çekilmekte ve
                            para cezası uygulanmaktadır.
                        </li>
                        <li>
                            Otopark biletinizi aracınız otoparkta kaldığı süre boyunca saklayınız. Bileti
                            kaybetmeniz durumunda otopark ofis personelleri ile irtibata geçmenizi rica ederiz.
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
</div>

@section scripts {
    <script src="~/js/hakkimizda.js"></script>

    <script>
        const buttons = document.querySelectorAll('#pagination .page-button');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                buttons.forEach(btn => {
                    btn.classList.remove('btn-danger');
                    btn.classList.add('btn-outline-danger');
                });

                button.classList.remove('btn-outline-danger');
                button.classList.add('btn-danger');
            });
        });
    </script>

}
